$verde-forte: #0c5158;
$verde-fraco: #1f8a99;
$verde-texto: #117581;
$verde-menu:#308691;
$cinza-fraco: #d1d1d1;
$cinza-bg: #f5f6f8;
$cinza-texto: #747475;
$verde-gradient1:#1b8a99;
$verde-gradient2:#06525a;
$bg-white:#f5f6f8;



